body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-sarif;
    font-size: 100%;
    line-height: 1.7em;
    color: #000000;
}

#container {
    width: 70%;
    margin: 10px auto;
}

#top_row {
    border-bottom: 1px dotted #cccccc;
    padding: .5em .5em 3em .5em;
}

#top_row header {
    margin-bottom: -2.5em;
}

#top_row header h1 {
    color: #3F7C9D;
    font-size: 4em;
    letter-spacing: -2px;
}

#top_row header h2 {
    font-size: 1.125em;
    font-weight: 200;
}

#top_row nav {
    float: right;
}

#top_row nav a {
    text-decoration: none;
    font-size: 1.125em;
    font-weight: 400;
    padding: 15px;
    color: #000000;
}

#top_row nav a.selected {
    background: #3F7C9D;
    color: #bbbbbb;
}

#top_row nav a.selected:hover {
    background: #bbbbbb;
    color: #3F7C9D;
}

#top_row nav a:hover {
    background: #f6f6f6;
    color: #3F7C9D;
}

#content {
    float: left;
    width: 70%;
    margin: 0;
    padding: 1em;
    border-right: 1px dotted #ccc;
}

#content h3 {
    font-family: Georgia, serif;
    font-size: 1.5em;
    margin: 30px 0 10px 0;
    font-weight: normal;
}

#sidebar {
    float: left;
    padding: 1em;
    font-size: .875em;
}

#sidebar h3 {
    font-size: 1.125em;
    border-bottom: 1px dotted #ccc;
}

#sidebar a {
    text-decoration: none;
    border-bottom: none;
    color: #3F7C9D;
}

#sidebar a:hover {
    border-bottom: 1px dotted #ccc;
}

footer {
    clear: both;
    margin: 0;
    padding: .5em;
    color: #333333;
    font-variant: small-caps;
    font-size: .813em;
    text-align: center;
}

#content img {
    float: left;
    margin: 1em;
}

#bio {
    margin-left: 3px;
    font-size: .875em;
}

#bio a {
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
    color: #000;
}

#bio a:hover {
    color: #3F7C9D;
}

#content table {
    width: 75%;
    border: 3px solid #075F8A;
    margin-left:15%; 
    margin-right:15%;
    border-collapse: collapse;
    table-layout: auto;
}

#content table th {
    height: 40px;
    font-weight: bold;
}

#content table td, th {
    padding: 2px;
    text-align: center;
    border: 1px solid #333333;
}

#content form {
    width: 75%;
    margin-left:15%; 
    margin-right:15%;
    border: 1px solid #075F8A;
    padding: 10px;
}

#content form legend {
    font-weight: bold;
    text-align: center;
    color: #666666;
    margin-bottom: 5px;
}

html {
    overflow-y: scroll;
}

.spin {
	margin-left: auto;
    margin-right: auto; 
    display: block;
  	border-radius: 50%;
  	animation: spin 5s linear infinite;
    animation-play-state: paused; 
}

.spin:hover {
  animation-play-state: running;
}

@keyframes spin {
    100% {transform: rotate(3turn); }
}